* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gap: .5em;
  --index: calc(1vw + 1vh);
  --color-dark: #000;
}

body {
  overflow: hidden;
  height: 100vh;
	width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.2em;
  font-size: calc(var(--index) * 2.2);
  position: absolute;
  font-weight: 200;
  text-align: center;
  opacity: 0.8;
  margin-top: 0.2em;
}

.header span {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: calc(var(--index) * 0.75);
  margin-top: 5px;
}

.gallery {
	width: 30vw;
	column-width: 2em;
	gap: var(--gap);
	transform: scale(8.2);
	will-change: transform;
	transition: transform 1s cubic-bezier(.075, 1, .25, 1), opacity 1s;
}

.gallery__item {
	margin-bottom: var(--gap);
}

.gallery__item img {
  width: 100%;
}
